* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
}

.cv_body {
    margin: 0 auto;
    position: relative;
    width: 595px;
    height: 842px;
    background: #FFFFFF;
}
.top_line {
    border-top: 4px solid black;
}
.title {
    position: absolute;
    height: 60px;
    left: 8.07%;
    right: 58.82%;
    top: calc(50% - 60px/2 - 343px);
    font-family: 'Arial';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #101214;
}
.current_status {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.avatar {
    border-radius: 50%;
    position: absolute;
    width: 72px;
    height: 72px;
    left: 407px;
    top: 36px;
}
.previous_experience {
    position: absolute;
    width: 335px;
    height: 630px;
    top: 140px;
    left: 48px;
}
.category, .duration, .info, .social_networks_links {
    font-family:'Inter';
    font-weight: 500;
    font-size: 10px;
    color: #73808D;
}
.category {
    text-transform: uppercase;
}
.description {
    font-size: 11px;
}
.divider {
    margin-top: 25px;
}
.additional_info {
    position: absolute;
    height: 558px;
    left: 68.4%;
    right: 8.07%;
    top: calc(50% - 558px/2 - 2px);
    font-size: 11px;
}
.info {
    font-size: 11px;
}

.unmarked_list {
    list-style-type: none;
}

.social_networks_links {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #73808D;
    font-size: 11px;
}
.social_network_icon {
    width: 11px;
    padding-right: 5px;
}